cachetools==2.0.1
certifi==2022.12.7
chardet==3.0.4
enum34==1.1.6
google-api-core==1.1.0
google-auth==1.4.1
google-cloud-speech==0.33.0
google-cloud-vision==0.31.0
googleapis-common-protos==1.5.3
grpcio==1.10.1
idna==2.6
numpy==1.14.2
opencv-python==3.4.0.12
Pillow==5.1.0
protobuf==3.5.2.post1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pygame==1.9.3
PyMsgBox==1.0.6
PyScreeze==0.1.14
PyTweening==1.0.3
pytz==2018.3
requests==2.18.4
rsa==3.4.2
six==1.11.0
urllib3==1.22
